.header {
  background-color: var(--color-red);
  border-radius: 1.5rem;
  padding: 2rem 2rem;
  color: var(--color-white);
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__balance-text {
    font-size: var(--fs-2);
    display: block;
    margin-bottom: 0.5rem;
  }

  &__balance-amount {
    font-size: var(--fs-3);
    font-weight: var(--fw-2);
  }
}
